body,html{
    overflow-x:hidden;
}
@media screen and (max-width:500px){
    .navbar-brand{
        width:250px;
    }
}
@media screen and (max-width:300px){
    .navbar-brand{
        width:150px;
    }
}
img{
    max-width:100% ;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.our-team{
    text-align:center;
    position: relative;
    color:#fff;
    padding-bottom:10%;
    overflow: hidden;
    
}
.out-team img{
    width:100%;
}
.our-team .content{
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    text-align: center;
    padding-top: 45%;
    transform: perspective(400px) rotateY(-90deg);
    transform-origin: center top 0;
    transition: all 1.0s ease 0s;
    opacity: 0;
}
.our-team:hover .content{
    opacity:1;
    transform: perspective(400px) rotateY(0deg);
}
.our-team .content .title{
    margin: 0 0 10px;
    display: block;
    font-size: 25px;
    font-weight: 600;
}
.our-team .content .post{
    margin:0 0 25px;
    display: block;
    font-size: 15px;
}
.our-team .btn{
    margin:0;
    padding:0;
    color: #fff;
    background-color: #f32248;
}
.our-team .btn a:hover{
    border-radius: 50%;
    text-decoration: none;
}
@media screen and (max-width:990px){
    .our-team{
        margin-bottom: 30px;
    }
}
.our-team .card-title{
    background-color:black;
    color:#fff;
    font-size:30px;
    font-weight: 500;
}
